<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Noopuram</title>
</head>
<body>
    <div class="headContainer">
        <!-- Edit the text with whatever you want :) --> 
        <!-- Works with emojis too ! -->
        <canvas id="scene"></canvas>
        <input id="copy" hidden="text" value="NOOPURAM'23" />
    </div>
    <!-- navbar -->
    <div class="navContainer">
        <a href="" class="navA">
            <li class="navLi">Home</li>
        </a>
        <a href="views/evenmt.ejs" class="navA">
            <li class="navLi">Event</li>
        </a>
        <a href="" class="navA">
            <li class="navLi">Proshows</li>
        </a>
        <a href="" class="navA">
            <li class="navLi">Team</li>
        </a>
        <a href="" class="navA">
            <li class="navLi">Prices</li>
        </a>
    </div>
</body>
</html>