<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="mainAdmin">
        <form action="/update" method="post">
            <label for="mech" id="mechLabel">Mech</label>
            <input type="number" name="mech" id="mech"><br><br>

            <label for="civil" id="civilLabel">Civil</label>
            <input type="number" name="civil" id="civil"><br><br>

            <label for="ec" id="ecLabel">EC</label>
            <input type="number" name="ec" id="ec"><br><br>

            <label for="eee" id="eeeLabel">EEE</label>
            <input type="number" name="eee" id="eee"><br><br>

            <label for="cs" id="csLabel">CS</label>
            <input type="number" name="cs" id="cs"><br><br>

            <label for="ic" id="icLabel">IC</label>
            <input type="number" name="ic" id="ic">

            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>