<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/prices.css">
    <link rel="stylesheet" href="/public/styles/header.css">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <title>Prices</title>
</head>
<body>
    <section class="pMainSecContaier">
        <div class="pmainSec">
            <canvas id="scene"></canvas>
            <input id="copy" hidden="text" value="NOOPURAM'23" />


            <div class="navContainer show">
                <a href="/" class="navA">
                    <li class="navLi" style="color: #adad00;">Home</li>
                </a>
                <a href="/events" class="navA">
                    <li class="navLi">Event</li>
                </a>
                <a href="/proshows" class="navA">
                    <li class="navLi">Proshows</li>
                </a>
                <a href="/team" class="navA">
                    <li class="navLi">Team</li>
                </a>
                <a href="/prices" class="navA">
                    <li class="navLi">Prices</li>
                </a>
                <a href="/gallery" class="navA">
                    <li class="navLi">Gallery</li>
                </a>
                
                <i class="fa-solid fa-bars navMenu"></i>
                <i class="fa-solid fa-xmark xShow closeBtn"></i>
            
              </div>
        </div>
    </section>
</body>
</html>