* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headColor: #000;
    --headFontSize: 6rem;
    --fontSize2: 3.6rem;
    --fontSize3: 2.2rem;
    --fontSize4: 1.3rem;
    --fontSize5: 0.8rem;
    --headColPrimary: #ebeb00;
    --headColSecondary: #adad00;
    --fontFamSecond: 'Agbalumo', sans-serif;
    --fontFamPrimary: 'Jost', sans-serif;
    /* for body */
    --abtHeadFam: 'Poppins', sans-serif;
}

.eventsListContainer {
    padding-left: 10rem;
    padding-top: 5rem;
    background-color: #9B4444;
    color: #fff;
}

.eventHead {
    display: flex;
    justify-content: center;
    margin-top: -18%;
    font-size: var(--fontSize2);
    color: var(--headColSecondary);
    font-family: var(--abtHeadFam);
}

.eNav{
    top: 5rem;
    left: 70%;
}

.headItem {
    margin-left: 25rem;
    margin-top: rem;
}

.listHr {
    margin-top: 2rem;
    margin-right: 12rem;
    margin-bottom: 2rem;
}

.subTh {
    margin-left: 3rem;
}

.events {
    padding-left: 20px;
}

.events h2 {
    font-size: var(--fontSize3);
    font-family: var(--fontFamPrimary);
    color: #fff;
    padding-bottom: 20px;
}

.events ul {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.events li {
    font-size: var(--fontSize4);
    font-family: var(--fontFamPrimary);
    color: #fff;
    flex: 33.33%;
    padding-bottom: 20px;
    padding-right: 10px;
}


@media only screen and (max-width: 600px) {
    .navContainer {
        display: none;
    }
    .eventHead {
        margin-top: -60%;
        padding-bottom: 20px;
    }
    .events li {
        flex: 100%;
    }
    #scene{
        margin-top: -90px;
    }
    .hamMenu{
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        position: absolute;
        z-index: 2;
    }
    .hamMenu svg{
        width: 13%;
        padding: 10px 10px 0 0;
        fill: #fff;
    }
}