*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --headColor: #000;
    --headFontSize: 6rem;
    --fontSize2: 3.6rem;
    --fontSize3: 2.2rem;
    --fontSize4: 1.3rem;
    --fontSize5: 0.8rem;
    --headColPrimary: #ebeb00;
    --headColSecondary: #adad00;
    --fontFamSecond: 'Agbalumo', sans-serif;
    --fontFamPrimary: 'Jost', sans-serif; /* for body */
    --abtHeadFam: 'Poppins', sans-serif;   
}

/* ---------------------- */
.headContainer{
    background: url("/images/theyyam_edit.png");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60.9rem;

}
body{
    /* overflow: hidden; */
    overflow-x: hidden;
}
input{
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 125px);
    background: none;
    color: white;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
}
.navContainer{
    display: flex;
    position: relative;
    width: fit-content;
    top: -55rem;
    left: 60rem;
    font-family: var(--fontFamPrimary);
    /* color: #fff; */
}
.navA{
    color: #fff;
    text-decoration: none;
    transition: 0.2s all linear;
}
.navA:hover{
    color: var(--headColSecondary);
}
.navLi{
    font-size: var(--fontSize4);
    list-style: none;
    padding-left: 5rem;
}

@media only screen and (max-width: 600px) {
    .navContainer {
        display: none;
    }
    .headContainer{
        height: 110rem;
    }
  }