.headContainer2{
    background: url("/images/theyyam_edit.png");
    background-position: center;
    background-size: cover;
    /* width: 100vw; */
    /* height: 62.9rem; */

}
.pnavContainer{
    display: flex;
    position: relative;
    top: -50rem;
    left: 60%;
    width: fit-content;
    font-size: var(--fontSize4);
    /* color: #fff; */
}