@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --headColor: #000;
    --headFontSize: 6rem;
    --fontSize2: 3.6rem;
    --fontSize3: 2.2rem;
    --fontSize4: 1.3rem;
    --fontSize5: 0.8rem;
    --headColPrimary: #ebeb00;
    --headColSecondary: #adad00;
    --fontFamSecond: 'Agbalumo', sans-serif;
    --fontFamPrimary: 'Jost', sans-serif; /* for body */
    --abtHeadFam: 'Poppins', sans-serif;   
}
.pointsContainer{
    background: transparent;
    position: relative;
    top: -25.0rem;
    color: #fff;
    padding: 5rem 0;
}
.pointsHead{
    text-align: center;
    margin-bottom: 3rem;
    font-size: var(--fontSize2);
    color: var(--headColSecondary);
    font-family: var(--abtHeadFam);
}
.row {
    display: flex;
    padding-left: 10rem;
}
.col{
    text-align: center;
    font-size: var(--fontSize3);
    font-family: var(--fontFamPrimary);
}
.branch, .score {
    padding-left: 10rem;
}
.score {
    margin-top: 1.1rem;
}

/* Resposive */

@media only screen and (max-width: 600px) {
    body{
        overflow: scroll;
        overflow-x: hidden;
    }
    .row{
        display: block;
        position: absolute;
        top: 15rem;
        left: -5rem;
    }
    .col{
        margin-top: 3rem;
    }
  }