* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --headColor: #000;
    --headFontSize: 6rem;
    --fontSize2: 3.6rem;
    --fontSize3: 2.2rem;
    --fontSize4: 1.3rem;
    --fontSize5: 0.8rem;
    --headColPrimary: #ebeb00;
    --headColSecondary: #adad00;
    --fontFamSecond: 'Agbalumo', sans-serif;
    --fontFamPrimary: 'Jost', sans-serif; /* for body */
    --abtHeadFam: 'Poppins', sans-serif;   
}
.teamsContainer{
    height: 0rem;
}
.teamContainer{
    color: #fff;
    margin-top: -15rem;
    text-align: center;
    font-family: var(--fontFamPrimary);
}
.teamHead{
    font-size: var(--fontSize2);
    text-decoration: underline;
    color: var(--headColPrimary);
}
.members{
    margin-top: 5rem;
}
.member{
    margin-top: 3rem;
}
.mem, .dev{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.name{
    margin-top: 1.5rem;
    font-weight: 900;
    font-size: var(--fontSize3);
}
.phNum{
    margin-top: 0.7rem;
    font-size: var(--fontSize4);
}
.headContainer{
    height: 130rem;
}
.nav2{
    position: absolute;
    top: 5rem;
    left: 70%;
}

/* Responsive */

@media only screen and (min-width: 600px) {
    body{
        overflow-y: scroll;
    }
    .members{
        display: grid;
        grid-template-columns: 50rem 40rem;
    }
}